
.exceltermite-container{
    height:450px ;
    padding-top: 100px;
}
.exceltermite-writthing-container{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.exceltermite-writthing{
    width: 600px;
}
.reviews{
 padding-top: 50px;
    text-align: center;
    padding-left:40px;
    
}
.reviews li{
    list-style: none;
    display: inline; 
   
}
.space {
    width: auto;
    height: 100px;
   
  }
  @media only screen and (max-width: 1333px) {
    .exceltermite-container{
        height:700px ;
        
    }
  }
